<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<body>

	<h1>Imagens</h1>

	<h:form enctype="multipart/form-data">
		<p:dataTable var="p" value="#{vb.files}">
			<p:column>
				imagem: <a target="_blank"
					href="#{request.contextPath}/img?file=#{p.toFile().getName()}">
					#{request.contextPath}/img?file=#{p.toFile().getName()} </a>
				<br />
				texto: <a target="_blank"
					href="#{request.contextPath}/read-chars?file=#{p.toFile().getName()}&amp;cache=true">
					#{request.contextPath}/read-chars?file=#{p.toFile().getName()}&amp;cache=true
				</a>
			</p:column>
		</p:dataTable>

		<h1>Enviar nova</h1>

		<p:fileUpload fileUploadListener="#{vb.onUpload}" multiple="false"
			auto="false" update="@form" />

	</h:form>


</body>
</html>
